

.titulo-login {
    color: #7028e5;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 100px;
}

.form-label {
    color: #7028e5;
}

.formulario-login {
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 30px;
}
#validar {
    opacity: 0;
    display: none;
}

#error {
    color:red;
}



.modal-title {
    color: #7028e5;
}

#tarjetas-usuario {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}